<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="baseBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--图片流服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.PicService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamedBinding"
          contract="Client.Service.IPicService" />
      </service>
      <!--官方聊天信息服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.OfficialMessageService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IOfficialMessageService" />
      </service>
      <!--用户令牌服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.OfficialUserService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IOfficialUserService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
