<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="baseBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="domainBehaviors">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <!--图片流服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.PicService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamedBinding"
          contract="Client.Service.IPicService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511/PicService" />
          </baseAddresses>
        </host>
      </service>
      <!--聊天信息服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.MessageService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511/MessageService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户令牌服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511/UserService" />
          </baseAddresses>
        </host>
      </service>
      <!--官方聊天信息服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.OfficialMessageService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IOfficialMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511/OfficialMessageService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户令牌服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.OfficialUserService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IOfficialUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511/OfficialUserService" />
          </baseAddresses>
        </host>
      </service>
      <!--跨域服务-->
      <service name="Client.Service.DomainService">
        <endpoint address="" behaviorConfiguration="domainBehaviors" binding="webHttpBinding"
            contract="Client.Service.IDomainService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:4511" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>