<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="baseBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.PicService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamedBinding"
          contract="Client.Service.IPicService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:8011" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.MessageService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:8010" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="Client.Service.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.119:8012" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>