<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" transferMode="Streamed" />
        <binding name="httpBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsBinding"  maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"/>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="baseBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--图片流服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.PicService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamedBinding"
          contract="Client.Service.IPicService" />
      </service>
      <!--聊天信息服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.ChatService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsBinding"
                  contract="Client.Service.IChatService" />
      </service>
      <!--官方用户登陆服务-->
      <service behaviorConfiguration="baseBehaviors" name="Client.Service.OfficialLoginService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpBinding"
          contract="Client.Service.IOfficialLoginService" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
    <add name="Client.Model.Properties.Settings.CnLotteryDbsConnectionString"
      connectionString="Server=.;Database=CnLotteryDbs;Trusted_Connection=true;"
      providerName="System.Data.SqlClient" />
    <add
      name="Model2DataContext"
      providerName="System.Data.SqlClient"
      connectionString="Server=.;Database=Client;Trusted_Connection=true;" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
